.post {
  display: grid;
  // grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-template-columns: 200px auto auto;
  border-style: solid;
  border-width: 2px;
  width: 92%;
  border-color: rgb(20 184 166);
  border-radius: 0.25rem /* 4px */;
  background-color: var(--background-color);
  min-height: 8rem;
  padding: 1em;
  gap: 1em;
}

.post_noimage {
  display: grid;
  // grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-template-columns: auto auto;
  border-style: solid;
  border-width: 2px;
  width: 92%;
  border-color: var(--accent-color);
  border-radius: 0.25rem /* 4px */;
  background-color: var(--background-color);
  min-height: 8rem;
  padding: 1em;
  gap: 1em;
}

.image {
  height: 200px;
  object-fit: scale-down;
  display: block;
}

.imageWrapper {
  flex-basis: 200px;
}

.content {
  justify-self: start;
}

.actions {
  justify-self: end;
  background-color: var(--accent-color);
  font-size: 1.2em;
  color: var(--background-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  height: 100px;
}

.source {
  &:hover {
    color: var(--foreground-color);
  }
}

.vote {
  &:hover {
    color: var(--foreground-color);
  }
}
